<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rhea">

  <xacro:include filename="$(find rhea_description)/description/urdf/rhea.urdf" />

  <xacro:include filename="$(find rhea_description)/description/rhea.ros2_control.xacro" />

  <rhea/>

  <xacro:rhea_system/>

</robot>